In [1]:
word = "Clarusway"   # aşağıdaki gibi en sona tire işareti olmadan çıktı alma
counter = 0
for i in word:
    counter += 1
    if counter < len(word) :
        i += "-"
    print(i,end="")

C-l-a-r-u-s-w-a-y

In [4]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35                  # burada sadece i dersek key verir, valueleri almak için aşağıdaki gibi yapıyoruz
}
for i in user:
    print(i)

name
surname
age

In [6]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35                
}
for i in user.values():  # burada ise gördüğümüz gibi sadece values verdi
    print(i)

Daniel
Smith
35

In [7]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35                
}
for key, value in user.items():  # burada ise görüdğümüz gibi bu şekilde istedik
    print(key,":",value)

name : Daniel
surname : Smith
age : 35

In [9]:
for i in "abc":
    print("hello")

hello
hello
hello

In [10]:
test =[(1,2), (3,4), (5,6)]
for i,j in test:
    print(i,j)

1 2
3 4
5 6

In [11]:
test2 =[(1,2,11), (3,4,22), (5,6,33)] 
for i,j,t in test2:
    print(i,j,t)

1 2 11
3 4 22
5 6 33

In [12]:
for i in test2:  # beklentin sadece 13,5 bekeldin ama burda elemanların ilkini aldı yani list içindeki tuple
    print(i)

(1, 2, 11)
(3, 4, 22)
(5, 6, 33)

In [26]:
number = int(input("Enter a number between 1-9: "))  # istenilen sayının çarpım tablosunu çıkarma
total = 0

for i in range(11):
    total = number * i
    print(f"{number} x {i} = {total}")

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [27]:
print(range(10,1)) # ancak yıldız olursa sıradan açar bu halde olduğu gibi print eyler

range(10, 1)

In [28]:
print(range(10,1,-1)) # aaa sonuç değişmedi yine rezil oldun

range(10, 1, -1)

In [29]:
print(*range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [30]:
print(*"joseph")

j o s e p h

In [33]:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999

```

for i in range(10):
    print(str(i) * i)

SyntaxError: invalid syntax (3005309325.py, line 1)

In [34]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [35]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [37]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [38]:
print(*range(11))

0 1 2 3 4 5 6 7 8 9 10

In [39]:
print(range(11)) # ranga foksiyonu print içinde doğrudan çalışmaz ancak * koyarsak çalışır istediğimiz gibi

range(0, 11)

In [40]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [41]:
print(*range(10,0,-2))

10 8 6 4 2

In [59]:
text = ["one","two","three","four","five"]
numbers = [1,2,3,4,5]
zipped = zip(text,numbers) # burada zip e key atamadığımız için vermedi, memory yerini gösterdi

In [47]:
print(*zipped) # yıldızla ayırdığımız için verdi

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [48]:
list(zipped)  # neden boş verdi çünkü yukarıda zipledik o iş bitti, şimdi tekrar ziplemek lazım

[]

In [50]:
print(*zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [60]:
for x,y in zipped:
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [62]:
text = ["one","two","three"]  # eksik eleman olursa olduğu kadarını zipler boşta kalanı almaz
numbers = [1,2,3,4,5]
zipped = zip(text,numbers)
list(zipped)

[('one', 1), ('two', 2), ('three', 3)]

In [65]:
evens =[]
odds = []
for i in range(10):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print("evens:",evens)
print("odds:",odds)

evens: [0, 2, 4, 6, 8]
odds: [1, 3, 5, 7, 9]

In [72]:
example = [11,2,24,61,48,33,3]
odds = 0
even = 0

for i in example :
    if i % 2 == 0 :
               even += 1
    else:
                odds += 1
print("The number of even numbers :", int(even))
print("The number of odd numbers :", int(odds))

The number of even numbers : 3
The number of odd numbers : 4

In [75]:
total = 0
for i in range(1, 75):
    total = total + i
print(total)

2775

In [77]:
who = ["I am ","You are "]
mood = ["happy", "confident"]
for i in who:
    for ii in mood:
        print(i+ii)

I am happy
I am confident
You are happy
You are confident

In [83]:
names = ["susan","tom","edward"]
mood = ["happy","sad"]
for i in names :
    for ii in mood:
        print(i + " is " +ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [84]:
tuple(range(1,8))

(1, 2, 3, 4, 5, 6, 7)

In [86]:
mon,tue,wed,thu,fri,sat,sun = tuple(range(1,8))

fri

5

In [87]:
mon

1

In [88]:
[1,2,3] + ["ali","deli"] # concatanate yapıldı append gibi arkasına ekledi, str veya int farketmez neticede list elemanı oldu

[1, 2, 3, 'ali', 'deli']

In [89]:
a,b = (10,20,30,40) # neden olmadı çünkü key != value

ValueError: too many values to unpack (expected 2)

In [95]:
a,_,b,_ = (10,20,30,40)  # altçizgi placeholder anlamına geliyor ve biz burada decoy olarak kullandık onu. a ya 10 ve b ye 30 atamak istedik. yani istediğimiz verileri çekmek
a

10

In [96]:
b

30

In [97]:
x,y,z = (11,22,33,44,55)  # neden çünkü atama yapamadı şimdi * atacaz

ValueError: too many values to unpack (expected 3)

In [99]:
x,y,*z = (11,22,33,44,55)
print(x)
print(y)
print(z) # z neden liste oldu çünkü çoklu değer var

11
22
[33, 44, 55]

In [102]:
x,*y,z = (11,22,33,44,55)
y

[22, 33, 44]