In [1]:
a = 1
print(-a)

-1

In [2]:
b = -11
-b

11

In [4]:
a = 3
b = 4
print("The sum of {} + {} is : {}".format(a, b, a+b))

The sum of 3 + 4 is : 7

In [5]:
print("The multiplication of {} x {} is : {}".format(a, b, a*b))

The multiplication of 3 x 4 is : 12

In [6]:
x = 2
y = 3
print("The power of {} to {} is : {}".format(y, x, x ** y))

The powe of 3 to 2 is : 8

In [8]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.324324)
text  # stringde round kullanmadan yapıldığında yuvarlama yapıyor üste

'3.15, 5.367, 7.3243'

In [10]:
text = "{:.2}, {:.3}, {:.4}".format(3.1463, 5.367, 7.324324)
text  # burada ise float aldı ama yuvarlama yapmadı çünkü f kullanmadık

'3.1, 5.37, 7.324'

In [12]:
text = "{:.2s}, {:.3s}, {:.4s}".format("a3.1463", "5.b367", "7.324324c" )
text # ilk 2 ,3 ve 4 string ifadelerini aldı

'a3, 5.b, 7.32'

In [13]:
text = "{:.2}, {:.3}, {:.4}".format("a3.1463", "5.b367", "7.324324c" )
text # burda da ilk 2,3,4 ifadeleri aldı

'a3, 5.b, 7.32'

In [15]:
text = "{:>10}".format("test") # sağ ok sağa yasla 10 karakterlik alanda 
text # yani sağda toplam 6 boşluk artı 4 harf 10 karakter

'      test'

In [16]:
text = "{:<10}".format("test") # bu da tam tersi oldu sola yaslı
text

'test      '

In [18]:
text = "format line {:>20} this is the en of text".format("test")
text # gördüğümüz gibi arada 20 satır boşluk bırakıp testi sağa yasladık

'format line                 test this is the en of text'

In [19]:
text = "bla bla {:<15} this is my format sentence".format("ökkeş")
text  # burda da sola yasladık 20 karakter boşluğun içine

'bla bla ökkeş           this is my format sentence'

In [20]:
text = "{:^20}".format("abc")
text # 20 karakterli boşluğun ortasına abc yi ortaladı

'        abc         '

In [21]:
"{:10.5}".format("hippopotamus")
# 10 tane boşluk tanımladı ve stringin ilk 5 ini almış başa

'hippo     '

In [22]:
"{:>15.5}".format("hippopotamus") # 15 karakter tanımla, ilk 5 karakteri sağa yasla

'          hippo'

In [23]:
"{:+}".format(55) başına + koyduk ve çalıştı

'+55'

In [26]:
"{:-}".format(55) # mesela nedense - almadı

'55'

In [27]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])

blue

In [28]:
type(colors[2]) # hangi elemanı indexlersek onu veriyo burda blue str

str

In [29]:
['red', 'purple', 'blue', 'yellow', 'green'][3] 
# listeyi bir değere atamasak bile burada lista yanına köşeli parantez ile cevap aldık

'yellow'

In [30]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city)

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [31]:
city_list =[city]
city_list

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [32]:
city_list[1] # tek elemanı var o da 0, out of range der

IndexError: list index out of range

In [33]:
city_list[0]

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [34]:
type(city_list) # tipi listedir

list

In [35]:
city_list[0][2] <listenin sıfırıncı indeksinin 2. elemanı

'Istanbul'

In [36]:
type(city_list[0][2]) # çünkü istanbul iterabledır ve stringdir

str

In [47]:
my_list = list(range(1,11)) # stop -1 olur hep
print(list(range(11))) # eğer start 1 demeseydik 0 dan alırdı
print(my_list)
print(my_list[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [48]:
list(range(11,1,-1)) # stop dan bi önceki yani 2

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [53]:
mix_list =[1, [1, "one", 2, "two", 3, "three"],4]
mix_list[1][1:6:2]

['one', 'two', 'three']

In [54]:
mix_list =[1, [1, "one", 2, "two", 3, "three"],4]
mix_list[-2][-3]

'two'

In [55]:
import sys
x = [1,2,3]
y = (1,2,3)
print(sys.getsizeof(x))
print(sys.getsizeof(y)) # iterable olur zaman 
# burada gösterilen şey aynı seriye sahip
# tuple liste göre daha az yer kaplar ve hızlı çalışır

80
64

In [59]:
my_tuple = ("Solar")
print(my_tuple, type(my_tuple))

Solar <class 'str'>

In [60]:
x = 1, 2, 3
type(x)  # virgüllerle ayıormış olduğumuz 
        # değerler tuple a kayma eğilimindedir parantez koymasanız

tuple

In [61]:
x

(1, 2, 3)

In [62]:
y = "ali","deli", "veli"
y # bura tuple otomatik aldı

('ali', 'deli', 'veli')

In [64]:
z ="ali"
type(z) # tek eleman burada str oldu

str

In [65]:
z = "ali",  # tek elemanlı tuple için virgül gerekiyor
z

('ali',)

In [66]:
z = 1,
type(z)  #

tuple

In [69]:
solar = "Earth","Venus","Uranus"
print(solar, type(solar), sep = "\n" )

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [70]:
tuple(["Solar"]) # içeride liste var ve liste iterable dır. dolayısıla 
#işleme alır. listenin tek elemanı var onu al tuple yap diyor. parantez aç tek elemanı yaz ve
# yanına virgül koy

('Solar',)