In [1]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [2]:
dict_by_dict.items()

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

In [3]:
x,y = dict_by_dict.items() # tek bir değişkeni iki ayrı varible a atayamıyoruz

ValueError: too many values to unpack (expected 2)

In [4]:
a, b = 1 # aynısı yukarıdakinin

TypeError: cannot unpack non-iterable int object

In [5]:
list(dict_by_dict.items())   # listeye çevirdik

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True)]

In [9]:
items = list(dict_by_dict.items())  # iki değeri iki değişkene atadık burada. ilk element bir tuple ve iki elemanı vardı o yüzden atayabildik
x, y = items[0]

print(x)
print(y)
x, y

animal
dog

('animal', 'dog')

In [10]:
dict_by_dict.keys()  # sadece key elementleri verdi

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

In [11]:
tuple(dict_by_dict.keys())  # tuple a çevirdik

('animal', 'planet', 'number', 'pi', 'is_good')

In [12]:
dict_by_dict.values()  # burada da değerleri aldık

dict_values(['dog', 'neptun', 40, 3.14, True])

In [13]:
set(dict_by_dict.values())  # bunu set e çevirdik

{3.14, 40, True, 'dog', 'neptun'}

In [36]:
family = dict(father = "ahmet", mother = "ayşe", sister = "elif", brother = "mustafa")

family["spouse"] = "burcu"
family
family["daughter", "son"] = "zeynep","yusuf"
family

{'father': 'ahmet',
 'mother': 'ayşe',
 'sister': 'elif',
 'brother': 'mustafa',
 'spouse': 'burcu',
 ('daughter', 'son'): ('zeynep', 'yusuf')}

In [24]:
list(family.items())

[('father', 'ahmet'),
 ('mother', 'hatice'),
 ('sister', 'elif'),
 ('brother', 'mustafa'),
 ('spouse', 'hatice'),
 (('daughter', 'son'), ('zeynep', 'yusuf')),
 ('enişte', 'idris'),
 ('gelin', 'semra')]

In [16]:
list(family.keys())

['father', 'mother', 'sister', 'brother', 'spouse', ('daughter', 'son')]

In [17]:
list(family.values())

['ahmet', 'ayşe', 'elif', 'mustafa', 'burcu', ('zeynep', 'yusuf')]

In [18]:
family["enişte"] = "idris"  # we add groom

In [19]:
family

{'father': 'ahmet',
 'mother': 'ayşe',
 'sister': 'elif',
 'brother': 'mustafa',
 'spouse': 'burcu',
 ('daughter', 'son'): ('zeynep', 'yusuf'),
 'enişte': 'idris'}

In [35]:
family.update({"gelin" : "semra"}) # we add bride
family

{'father': 'ahmet',
 'mother': 'ayşe',
 'brother': 'mustafa',
 'spouse': 'hatice',
 ('daughter', 'son'): ('zeynep', 'yusuf'),
 'gelin': 'semra'}

In [33]:
family.update({"spouse" : "hatice"})  # we update mother
family

{'father': 'ahmet',
 'mother': 'ayşe',
 'brother': 'mustafa',
 'spouse': 'hatice',
 ('daughter', 'son'): ('zeynep', 'yusuf')}

In [37]:
del family["sister"]  # deleted sister
family

{'father': 'ahmet',
 'mother': 'ayşe',
 'brother': 'mustafa',
 'spouse': 'burcu',
 ('daughter', 'son'): ('zeynep', 'yusuf')}

In [38]:
a = "clarusway"
a

'clarusway'

In [39]:
del a
a

NameError: name 'a' is not defined

In [ ]:
in # gives True ol False output

In [42]:
"i" in "clarusway"  # is there "i" case in clarusway?

False

In [43]:
"a" in "clarusway" # is there "a" case in clarusway

True

In [44]:
"A" in "clarusway"  # is is also case sensitive

False

In [45]:
bootcamp = "c l a r u s w a y".split() # split içinde boşluk varsa boşluklardan ayır dedik
bootcamp

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [46]:
bootcamp = "clarusway".split() # burda ayırmadı çünkü iterable elemaları arasında boşluk yok
bootcamp

['clarusway']

In [55]:
a = "ali-veli-deli".split("-") # tirelerden böl dedik ve string parçalarını liste elemanı haline getir
a

['ali', 'veli', 'deli']

In [74]:
a = "mehmetşakir@clarusway.org".split("@") # @ ten ayırdık
a

['mehmetşakir', 'clarusway.org']

In [49]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [50]:
"dog" in dict_by_dict  # neden False verdi çünkü in komutu key lerde arar value lara bakmaz

False

In [51]:
"planet" in dict_by_dict  # as seen before it is True

True

In [52]:
"dog" in dict_by_dict.values() # işte burada valueler arasında ararız ve sunuç True çıkar

True

In [54]:
"dog" not in dict_by_dict  # key taramasında bulamadığından True verdi

True

In [58]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [59]:
len(school_records)

2

In [60]:
school_records['personal_info']  # burada key yazdık , valuesini verdi

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [61]:
type(school_records['personal_info'])  # as you see it is dict

dict

In [62]:
len(school_records['personal_info']) # kids ve teen valueler. yani burada iç içe girmiş key ve valueler görülüyor

2

In [63]:
school_records['grades_info']

{'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}},
 'teen': {'joseph': {'coding': 80, 'math': 89},
  'marry': {'coding': 70, 'math': 96}}}

In [64]:
school_records['personal_info']["kid"] # yine bir dictionary

{'tom': {'class': 'intermediate', 'age': 10},
 'sue': {'class': 'elemantary', 'age': 8}}

In [65]:
len(school_records['personal_info']) # tom ve sue elemanlar

2

In [66]:
school_records['personal_info']["kid"]["tom"] # still a dictionary

{'class': 'intermediate', 'age': 10}

In [67]:
school_records['personal_info']["kid"]["tom"]["age"] # to access tom's age

10

In [72]:
list(school_records['grades_info']["teen"]["joseph"].items())

[('coding', 80), ('math', 89)]

THE MOST FREQUENT ELEMENT

In [75]:
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]
max(numbers)

16

In [76]:
max(2, 3, 5)

5

In [79]:
empty = []
max(empty) # hata verdi çünkü boş iterable

ValueError: max() arg is an empty sequence

In [78]:
empty = []
max(empty, default ="empty")  # eğer iterable boş ise, "default" keyine ne tanımlarsak onu döndürür. burada kilit default parametresine ne yazdığın

'empty'

In [80]:
sequence = [1, 1, 1, 1, 2, 2 ,2, 3, 3, 4]
max(sequence)

4

In [85]:
print(sequence.count(4))
print(sequence.count(3))
print(sequence.count(2))
print(sequence.count(1))  # 1 den listede kaç tane var

1
2
3
4

In [86]:
numbers

[-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [87]:
max(numbers)

16

In [88]:
numbers.count(16)

1

In [89]:
numbers.count(max(numbers))

1

In [90]:
max(numbers, key = numbers.count)  # bu atanan key değeri içeride yer alan tüm elemanlara uygulandı ven en çok tekrar edenin 3 sayısı olduğunu öğrendik.
            # peki 3 ün kaç kere takrar ettiğini nasıl bulacaz?

3

In [91]:
numbers.count(max(numbers, key = numbers.count)) # burada da maden en çok tekrarlanan eleman 3, kaç kere tekrarlanmış numbers.count ile

4

In [92]:
cities = ["istanbul", "van", "ağrı", "ankara"]  # alphabetical order
sorted(cities)

['ankara', 'ağrı', 'istanbul', 'van']

In [93]:
sorted(cities, key = len, reverse = True)  # en çok harfli şehirden en az harfli şehre sıralama

['istanbul', 'ankara', 'ağrı', 'van']

In [97]:
cities.sort(key=len) # uzunluğa göre kısadan uzuna sırala
cities

['van', 'ağrı', 'ankara', 'istanbul']

True