In [4]:
x = [([1], [2,3], [4,5,6])]  # turn this list to [1,2,3,4,5,6]

a = []
for i in x:
    for j in i:
        for z in j:
            a.append(z)
a

[1, 2, 3, 4, 5, 6]

In [5]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [6]:
xList = "apple grape banana".split()
xList

['apple', 'grape', 'banana']

In [8]:
ylist ="Frank Jason Mina".split()
ylist

['Frank', 'Jason', 'Mina']

In [11]:
result = []

for i in xList:
    for j in ylist:
        result.append(i+","+j)

result

['apple,Frank',
 'apple,Jason',
 'apple,Mina',
 'grape,Frank',
 'grape,Jason',
 'grape,Mina',
 'banana,Frank',
 'banana,Jason',
 'banana,Mina']

In [13]:
[[i+","+j] for i in xList for j in ylist]

[['apple,Frank'],
 ['apple,Jason'],
 ['apple,Mina'],
 ['grape,Frank'],
 ['grape,Jason'],
 ['grape,Mina'],
 ['banana,Frank'],
 ['banana,Jason'],
 ['banana,Mina']]

In [16]:
result = []

numbers = ["one", "two", "three"]

[str(i)+"--->" + j for i in range(5) for j in numbers]

['0--->one',
 '0--->two',
 '0--->three',
 '1--->one',
 '1--->two',
 '1--->three',
 '2--->one',
 '2--->two',
 '2--->three',
 '3--->one',
 '3--->two',
 '3--->three',
 '4--->one',
 '4--->two',
 '4--->three']

In [20]:
solution = [[]]

# solution1 = [[1],[2],[3]]
# solution2 = [[1,2],[1,3],[2,1],[2,3],[3,1],[3,2]]
# solution3 = [[1,2,3],[1,3,2],[2,1,3],[2,3,1],[3,1,2],[3,2,1]]

In [21]:
for i in solution:
    print(i)

[]

In [22]:
len(solution)

1

In [23]:
num = [1,2,3]

In [24]:
num_set = set(num)
num_set

{1, 2, 3}

In [25]:
set([])

set()

In [27]:
set_empty_list = set([])
set_empty_list

set()

In [28]:
num_set

{1, 2, 3}

In [29]:
num_set - set_empty_list # a - b = a because b is empty

{1, 2, 3}

In [30]:
num_set - set([1])

{2, 3}

In [31]:
a = [[x, y, z] for x in [1,2,3] for y in [1,2,3] for z in [1,2,3]]

for i in a:
    if len(set(i)) == 1 or len(set(i)) == 2:
        a.remove(i)
for i in a:
    if len(set(i)) == 1 or len(set(i)) == 2:
        a.remove(i)

print(a)

[[1, 2, 1], [1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1], [3, 3, 2]]

In [32]:
b = [[x, y, z] for x in [1,2,3] for y in [1,2,3] for z in [1,2,3] if len(set([x, y, z])) == 3]
print(b)

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [33]:
[[i**2]+["a"] for i in range(3)]

[[0, 'a'], [1, 'a'], [4, 'a']]