In [1]:
n = int(input())
for i in n :
    

n_fac = n * (n-1) * (n-2) * (n-3)


print(n_fac)

TypeError: unsupported operand type(s) for -: 'type' and 'int'

In [ ]:
a = "it's"
b = "a very"
c = "cold day"
d = "in Afyon"
text = (a, b, c, d, ".")
print(text, sep='')

In [ ]:
celc_degree = input( "Please enter Celcius Degree: ")

fahr_degree = (float(celc_degree) * 1.8 ) + 32

print ( " Your Celcius degree is equal to : ", fahr_degree, "Fahrenheit")

In [ ]:
kilometer = input( "Please enter kilometer : ")

us_miles = float(kilometer) * 0.621371192

print(" Your kilometer length is equal to : ", round(us_miles, 2), "miles")

In [ ]:
print(True and False and (not True and False) and not (True or False))

In [ ]:
print(True and False and not "False" and None and ("None" or None))

In [ ]:
print("clarusway" and 0 and not "" and False and (" " or None))

In [ ]:

print(8//2)

In [ ]:
ocak = mart = mayıs = temmuz = agustos = aralık = 31
nisan = haziran = eylül = kasım = 30
subat = 28

In [ ]:
print(ocak, subat, mart, nisan, mayıs, haziran, temmuz, agustos, eylül, ekim, kasim, aralık)

In [ ]:
Begin
INPUT hours, rate
IF hours < 40
THEN
    pay = hours * rate
ELSE
    pay = 40 * rate + (hours - 40) * rate *1.5
OUTPUT pay
End

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3, 3]

most_freq_number = max(numbers, key = numbers.count)
frequency = numbers.count(most_freq_number)
print(f"The most frequent number is {most_freq_number} and it is {frequency} times repeated")

In [ ]:
a = [2,3,1,2,3,4,2,1,2]
how_many_times = max(a)
most_common = max(a, key = a.count)
print("in this list the most frequent number is {} and it repeats {} times".format(most_common, how_many_times))

In [ ]:
List = [1, 3, 4, 5, 4, 6, 4, 8, 4, 9]
the_most_freq = max(List, key = List.count)
how_many_time = max(List)
how_many_time

In [3]:
abe = ("abd","bsb")
abe.count(abe)

0

In [ ]:
# text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favourite colors are {} and {}".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{} Data Science is my IT domain.".format(escapes[0],escapes[2][1],)

print(sentence)

#I am 40 years old.
    #I have two children.
        #Data Science is my IT domain.

In [ ]:
dictionary = { "animal" : "eşşek",
                "quote" : "damn you",
                "no_1" : 22,
                "number_2" : 3.14,
                "list_1" : ["garbage", "suat", "damn"],
                "tupl_1" : ("god, damn, you")
}

dictionary["city"] = "adana"
dict(dictionary)

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
dict_by_dict.update({"is_good" : False})
dict_by_dict

In [ ]:
del dict_by_dict["planet"]
dict_by_dict

In [ ]:
print("planet" in dict_by_dict)
print("pi" not in dict_by_dict)

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages["Clark"])

In [ ]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}
print(customers["insurance"][5]["age"])

In [1]:
print("xyyzxyzxzxyyabyycdyy".count("yy",3))

3

In [3]:
# Write a Python code that find the students who have maximum and minimum average at below. 

grades = {'Student-1': {'Lesson-1': 57, 'Lesson-2': 46, 'Lesson-3': 58, 'Lesson-4': 81, 'Lesson-5': 85}, 
               'Student-2': {'Lesson-1': 85, 'Lesson-2': 56, 'Lesson-3': 51, 'Lesson-4': 69, 'Lesson-5': 67}, 
               'Student-3': {'Lesson-1': 68, 'Lesson-2': 76, 'Lesson-3': 87, 'Lesson-4': 57, 'Lesson-5': 56}, 
               'Student-4': {'Lesson-1': 78, 'Lesson-2': 93, 'Lesson-3': 88, 'Lesson-4': 38, 'Lesson-5': 54}, 
               'Student-5': {'Lesson-1': 50, 'Lesson-2': 46, 'Lesson-3': 78, 'Lesson-4': 81, 'Lesson-5': 75}}

average1 = sum(grades["Student-1"].values()) /len(grades["Student-1"].values())
average2 = sum(grades["Student-2"].values()) /len(grades["Student-2"].values())
average3 = sum(grades["Student-3"].values()) /len(grades["Student-3"].values())
average4 = sum(grades["Student-4"].values()) /len(grades["Student-4"].values())
average5 = sum(grades["Student-5"].values()) /len(grades["Student-5"].values())
averages = [average1, average2, average3, average4, average5]
max_avr = max(averages)
min_avr = min(averages)
print("The max average of grades is {} and the minimum average of the grades is {}".format(max_avr,min_avr))

The max average of grades is 70.2 and the minimum average of the grades is 65.4

In [4]:
value = int(input("Please enter your seat number: "))
if value > 50 :
    print("Please use the backdoor")
else :
    print("Please use the front door")

Please use the backdoor

In [6]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Your degree: B+

In [8]:
answer = 24

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
Little higher
Little higher
Little lower
Little lower
Little higher
Little higher
Are you a MINDREADER!!!

In [17]:
a = list(range(1, 11))
a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [29]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [41]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0],escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [43]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [45]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [47]:
a = [123]
a

[123]

In [54]:
print({0} and False or [])

[]

In [ ]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
text = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(text)

In [53]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

Task:

Find out if a given number is an "Armstrong Number".

An n-digit number that is the sum of the nth powers of its digits is called an n-Armstrong number. Examples :
1- 371 = 33 + 73 + 13;
2- 9474 = 94 + 44 + 74 + 44;
3- 93084 = 95 + 35 + 05 + 85 + 45.

Write a Python program that;
1- takes a positive integer number from the user,
2- checks the entered number if it is Armstrong,
3- consider the negative, float and any entries other than numeric values then display a warning message to the user.

In [22]:
number = str(input("Please enter your number & don't use non-numeric, float, or negative values! :"))
str_digits = list(number)
int_number = int(number)
if (int_number)**len(str_digits) == int(number) :
    print(f"{number} is an Armstrong Number!")
else :
    print(f"{number} is NOT an Armstrong Number!")

407 is NOT an Armstrong Number!

In [26]:
number = input("Please enter your number & don't use non-numeric, float, or negative values! :")
num_list = list(number)
end = 0
for i in num_list:
    x = int(i)**(len(num_list))
    total += x
if int(number) == total:
    print(f"{number} is an Armstrong Number!")
else:
    print(f"{number} is NOT an Armstrong Number!")

407 is an Armstrong Number!

In [31]:
number = input("Please enter your number & don't use non-numeric, float, or negative values! :")
total = 0
for number in number:
    perm = int(number) * (int(number)-1)
if number == 1 :
    print(perm)

In [66]:
x = int(input("Lütfen bir sayı giriniz : "))
a = 1
for i in range (1, x+1):
    a = a*i
print(str(x) + ' sayısının faktöriyeli = '+ str(a))

5 sayısının faktöriyeli = 120

4

In [57]:
str_number = str(input("Please enter your number & don't use non-numeric, float, or negative values! :"))
len_number = len(str_number)
power = len_number
total = 0
a = 0
while len_number > 0 :
    var_slice = int(str_number[a:a+1])
    a += 1
    len_number -= 1
    total += var_slice ** power

if total == int(str_number) :
    print("Armstrong")

Armstrong

In [32]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)

while count1 > 0 :
    for i in flowers :
            print(flowers.pop(0))
            count1 -= 1

Rose
Orchid
Tulip

In [33]:
iterable = [1, 2, 3, 4]

for i in iterable :
    print(i**2)

1
4
9
16

In [38]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print(f'{n}x{i} = ', (n*i))

4x0 =  0
4x1 =  4
4x2 =  8
4x3 =  12
4x4 =  16
4x5 =  20
4x6 =  24
4x7 =  28
4x8 =  32
4x9 =  36
4x10 =  40

In [39]:
total = 149
country = "FR"

if country == "FR":
    if total <= 50:
        print("Shipping Cost is  €30")
    elif total <= 100:
        print("Shipping Cost is €15")
    elif total <= 150:
        print("Shipping Costs €10")
    else:
        print("Free Shipping")
if country == "DE": 
    if total <= 50:
        print("Shipping Cost is  €25")
    else:
        print("Free Shipping")

Shipping Costs €10

In [48]:
ps4_price = 100
saved_amount = int(input('Please enter your saved amount: '))
if saved_amount >= ps4_price :
    print("Yippee! You can buy your PS4") ,
elif saved_amount > ps4_price/2 :
    print("You saved more than half, keep saving!") ,
elif saved_amount <= ps4_price/2 :
    print("You must save more, keep saving!") ,

You must save more, keep saving!

In [61]:
# 85-100 ➔ A (Excellent)
# 70-84 ➔ B (Good)
# 60-69 ➔ C (Medium)
# 45-59 ➔ D (Not Bad)
# 0-44 ➔ F (Failed)

math_mark = int(input('Please enter the mark: '))
if math_mark >= 85 :
    print("A (Excellent)")
elif math_mark >= 70  :
    print("B (Good)")
elif math_mark >= 60  :
    print("C (Medium)")
elif math_mark >= 45  :
    print("D (Not Bad)")
else :
    print("F (Failed)")

F (Failed)

In [62]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range(len (weekdays)):
    print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday

In [92]:
num = int(input('Please enter a number: '))
while num > 0 :
    for i in range(0,num) :
        print(i**2)
        num -= 1

0
1
4
9
16

In [95]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for i in sample_list :
    print(f"The type of {i} is", type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [101]:
for i in range(1,10):
    print(i)  # normal şartlarda her i için bir print yapar ve alt satıra iner

1
2
3
4
5
6
7
8
9

In [100]:
for i in range(1,10):
    print(i,end=" ")   # nasıl yazırdık amma yan yana

1 2 3 4 5 6 7 8 9

In [113]:
for i in range(1,11):  # 2 ve 3 e bölünebilen sayıları yazdır
    if i%2 == 0 and i%3 == 0 :
            print(i)
    else:
        print("Fuck")

Fuck
Fuck
Fuck
Fuck
Fuck
6
Fuck
Fuck
Fuck
Fuck

In [117]:
number = int(input("Please enter a number to enlarge a list: "))
for i in range(1 , number+1) :   # bununla 1 den başlatıp girdiğimiz sayıya kadar liste oluşturduk
    print(i, end=" ")

1 2 3 4 5 6 7

In [5]:
total = 1
number = int(input("Please enter a number to finf factorial: "))
for i in range(1, number+1):
    total *= i
total

720

In [127]:
word = "Sabire"
for i in word :
    print(i)
print("Adını ekrana yazmışım sebp")

S
a
b
i
r
e
Adını ekrana yazmışım sebp

In [133]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))  # seçilen iki sayı arasındaki sayıların toplamı fakat burada her zaman ilk sayı küçük ikinci sayı büyük farz edildi, peki ya öyle değilse? alta in
total = 0
for i in range(num1 , num2) :
    total += i
print(total)

9

In [135]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))  # işte burada sayı nasıl girilirse girilsin zımbolar
total = 0
if num1 < num2 :
    for i in range(num1 , num2) :
            total += i
else :
    for i in range(num2,num1) :
        total += i
print(total)

3

In [137]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
if num1 != num2 :
    print(num1+num2)
else :
    print((num1+num2)*2)

16

In [2]:
a = "rob"

list(enumerate_("rod"))

NameError: name 'enumerate_' is not defined

In [ ]:
# Soru -1
# zaman = int(input("Lütfen çalışma senenizi giriniz:"))
# maas = int(input("Aldıgınız maası giriniz:"))
# if zaman > 5:
#     bonus = maas*0.05
#     print(f"Tebrikler 5 senenizi doldurgunuz için {int(bonus)}$ bonus almaya hak kazandınız.")
# else:
#     print("Biraz daha zamana ihtiyacınız var")
​
# Soru-2
# quantity = 10
# if quantity*100 > 1000 :
#     discount = (quantity*100)*0.1
#     print(f"Toplam alışverişiniz {quantity*100}tl tutmuştur. 1000 tl yi geçtiğiniz için %10 indirim kazandınız.Ödemeniz gerken tutar {quantity*100-discount}tl dir.")
# else:
#     print(f"Ödemeniz gereken tutar {quantity*100} tldir.")
​
# Soru -4
# haftanın_günler = {"1":"Monday",
#                    "2":"Tuesday",
#                    "3":"Wednesday",
#                    "4":"Thursday",
#                    "5":"Friday",
#                    "6":"Saturday",
#                    "7":"Sunday"}
​
# sayı = input("Lütfen 1-7 arasında bir sayı giriniz:")
# if 0 < int(sayı) < 8:
#     print(haftanın_günler[sayı])
# else:
#     print("hatalı giriş yaptınız.")
​
​
# a = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
# b = ["1","2","3","4","5","6","7"]
# c = zip(a, b)
# e = list(c)
# print(e)
# d = input("Sayı Giriniz")
# if d in b:
#     print(e[int(d)-1][0])
​
​
# Soru-5
# sesli_harfler = ["a","e","ı","i","u","ü","o","ö"]
​
# a_string = "Muaaoiz"
​
# sesli_harflerin_sayısı = {}
​
# for i in sesli_harfler:
#     count = a_string.count(i)
#     sesli_harflerin_sayısı[i] = count
# print(sesli_harflerin_sayısı)
# ses_yeni = sum(sesli_harflerin_sayısı.values())
# print(ses_yeni)
​
# Soru -6
# Write a code that will check if two given characters are the same case.
# If any of characters is not a letter, return -1
# If both characters are the same case, return 1
# If both characters are letters and not the same case, return 0
# Examples
# 'a' and 'g' returns 1
​
# 'A' and 'C' returns 1
​
# 'b' and 'G' returns 0
​
# 'B' and 'g' returns 0
​
# '0' and '?' returns -1
​
​
kucuk_harfler = {'q', 'w', 'e', 'r', 't', 'y', 'u', 'ı', 'o', 'p', 'ğ', 'ü', 'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'ş', 'i', 'z', 'x', 'c', 'v', 'b', 'n', 'm', 'ö', 'ç'}
buyuk_harfler = {'Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P', 'Ğ', 'Ü', 'A', 'S', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'Ş', 'İ', 'Z', 'X', 'C', 'V', 'B', 'N', 'M', 'Ö', 'Ç'}
​
​
name = input("Lütfen 2 karakter Giriniz:")
yenı_name = set(name)
# if len(yenı_name) <=1:
#     print("Eksik veya hatalı giriş yaptınız lütfen 2 karakter giriniz")
# else:
#     for i in yenı_name:
#         if (i in kucuk_harfler and i not in buyuk_harfler) and (i in buyuk_harfler and i not in kucuk_harfler):
#             print("Your characters are the same case = 1")
#         elif i in kucuk_harfler or i in buyuk_harfler:
#             print("Both characters are letters and not the same case = 0")
#         else:
#             print("any of characters is not a letter, return -1")
# if 1 < len(name) < 3  :
#     if yenı_name.issubset(kucuk_harfler):
#         yenı_name= "Your characters are the same case = 1"
#     elif yenı_name .issubset(buyuk_harfler):
#         yenı_name= "Your characters are the same case = 1"
#     elif yenı_name.issubset(kucuk_harfler | buyuk_harfler):
#         yenı_name = "Both characters are letters and not the same case = 0"
#     else:
#         yenı_name = "any of characters is not a letter, return -1"
# else:
#     print("Lütfen 2 haneli bir değer giriniz")
# print(yenı_name)
​
​
#Soru-7
# Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.
​
# For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.
​
# ay = "1"
# aylar = {"quarters-1": {
#             "1" : "January",
#             "2" : "February",
#             "3" : "March"},
#          "quarters-2" : {
#             "4" : "April",
#             "5" : "May",
#             "6" : "June", },
#          "quarters-3" : {
#             "7" : "July",
#             "8" : "August",
#             "9" : "September"},
#          "quarters-4" : {
#             "10": "October",
#             "11": "November",
#             "12": "December"}
#         }
# if ay in aylar["quarters-1"]:
#    yeni = aylar["quarters-1"]
#    print(yeni.get(ay))
   
​
# Soru -8 Tidy number
​
y=input("bir sayı: ")
x=0
for n in y:
  if int(n) >= x :
    x=int(n)
  else:
    print("False")
    break
if int(n) >= x:
  print("True")
​

In [1]:
count, fruit, price = (2,"apple",3.5)
count

2

In [1]:
college =["a","b","c"]
print(list(enumerate(college, 2019)))

[(2019, 'a'), (2020, 'b'), (2021, 'c')]

In [5]:
L1 = []
L1.append([1,[2,3],4])
L1.extend([7,8,9])
print(L1[0][1][1]+L1[2])

11

In [13]:
T = (1,2,3,4,5,6,7,8)
print(T[T.index(5)], end=" ")
print(T[T[T[6]-3]-6])

5 8

In [14]:
D = {1:1,2:"2","1":1,"2":3}
D["1"] = 2
print(D[D[D[str(D[1])]]])

3