In [10]:
n = int
n_fac = n * (n-1) * (n-2) * (n-3)


print(n_fac)

TypeError: unsupported operand type(s) for -: 'type' and 'int'

In [24]:
a = "it's"
b = "a very"
c = "cold day"
d = "in Afyon"
text = (a, b, c, d, ".")
print(text, sep='')

("it's", 'a very', 'cold day', 'in Afyon', '.')

In [2]:
celc_degree = input( "Please enter Celcius Degree: ")

fahr_degree = (float(celc_degree) * 1.8 ) + 32

print ( " Your Celcius degree is equal to : ", fahr_degree, "Fahrenheit")

Please enter Celcius Degree: 27
 Your Celcius degree is equal to :  80.6 Fahrenheit

In [8]:
kilometer = input( "Please enter kilometer : ")

us_miles = float(kilometer) * 0.621371192

print(" Your kilometer length is equal to : ", round(us_miles, 2), "miles")

Please enter kilometer : 22.4
 Your kilometer length is equal to :  13.92 miles

In [9]:
print(True and False and (not True and False) and not (True or False))

False

In [1]:
print(True and False and not "False" and None and ("None" or None))

False

In [2]:
print("clarusway" and 0 and not "" and False and (" " or None))

0

In [6]:

print(8//2)

4

In [7]:
ocak = mart = mayıs = temmuz = agustos = aralık = 31
nisan = haziran = eylül = kasım = 30
subat = 28

In [8]:
print(ocak, subat, mart, nisan, mayıs, haziran, temmuz, agustos, eylül, ekim, kasim, aralık)

31 28 31 30 31 30 31 31 30 30 31 31

In [9]:
Begin
INPUT hours, rate
IF hours < 40
THEN
    pay = hours * rate
ELSE
    pay = 40 * rate + (hours - 40) * rate *1.5
OUTPUT pay
End

SyntaxError: invalid syntax (2363452753.py, line 2)

In [38]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3, 3]

most_freq_number = max(numbers, key = numbers.count)
frequency = numbers.count(most_freq_number)
print(f"The most frequent number is {most_freq_number} and it is {frequency} times repeated")

The most frequent number is 3 and it is 5 times repeated

In [32]:
a = [2,3,1,2,3,4,2,1,2]
how_many_times = max(a)
most_common = max(a, key = a.count)
print("in this list the most frequent number is {} and it repeats {} times".format(most_common, how_many_times))

in this list the most frequent number is 2 and it repeats 4 times

In [35]:
List = [1, 3, 4, 5, 4, 6, 4, 8, 4, 9]
the_most_freq = max(List, key = List.count)
how_many_time = max(List)
how_many_time

9

In [ ]:
abe = "abdbsb"
abe.co